<div id="main">
  <div id="content">&nbsp;
  </div>
</div>
<div id="footer" style="font-size:5px;">
  <br><h1 style="font-size:5px;">San Francisco</h1>
 <p>123 Easy St<br>
San Francisco, CA 94104<br>
   415 555 0234</p>
</div>
