@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
  position: relative;
  background: url('/img/2.png');
  /*background-size: cover;*/
  min-width: 500px;
  min-height: 200px;
  /*color: #fff;*/
  font-family: 'Montserrat';
  height:100vmax;
}

* {
  margin: 0;
  padding: 0;
}

/*UserLogin Option*/

.menu{
	width:200px;
	margin:60px auto 0;
	cursor:pointer;
	z-index: 99;
  position: absolute;
  right: 80px;
  top: -40px;
}

.title{
  width:100%;
	box-sizing:border-box;
	background:#fff;
	padding:14px;
  border-radius:100px;
	position:relative;
  font-size: 12px;
	/*box-shadow:0 0 40px -10px #000;*/
	color:#000;
}

.title span{
	float:right;
	font-size:18px!important}

.dropdown{
	width:100%;
	background:#2b3e4e;
	border-radius:4px;
	box-shadow:0 0 40px -10px #000;
	color:#fff;
	margin-top:-7px;
	max-height:0;
	overflow:hidden;
	transition:all .5s;
}

.down{
	max-height:200px;
}

.dropdown p{
	padding:12px 11px;
  font-size: 12px;
	margin:0;
	transition:all .1s}

.dropdown p:hover{
	background:#2a5f85;
	-webkit-transform:scale(1.05);
	color:#fff;
	box-shadow:0 0 30px -10px #000}

.at-about-fab__thumbnail {
  position: absolute;
  top: 50%;
  left: -58px;
  background: #FFFFFF;
  width: 48px;
  height: 48px;
  border: 1px solid #EEEEEE;
  border-radius: 100%;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  cursor: pointer;
}
.at-about-fab__thumbnail img {
  display: block;
  width: 100%;
  border-radius: 100%;
}



/*End UserLogin Option*/





/*Loader*/
/*.hameid-loader-overlay {
    width: 100%;
    height: 100%;
    background: url('images/preloader.gif') center no-repeat #FFF;
    z-index: 99999;
    position: fixed;
}*/

textarea {
  resize: none;
  /*padding: 10px;*/
  /*outline: black;*/
  /*background: black;*/
}

.table{
-webkit-box-shadow: -7px 7px 17px 2px rgba(0,0,0,0.36);
-moz-box-shadow: -7px 7px 17px 2px rgba(0,0,0,0.36);
box-shadow: -7px 7px 17px 2px rgba(0,0,0,0.36);
background-color: #71cbcd;
margin-top: 90px;
}

tbody td:first-child a{
  color: white;
  font-weight: bold;
}

tbody td:first-child a:hover{
  color: #000;
  font-weight: bold;
}

.firstletter-cap{
  text-transform: capitalize;
}

#delete-form{
  display: inline;
}

/* show story */

/*public Stories*/
.round-btn-edit {
  position: absolute;
  top: -10px;
  right: -10px !important;
  width: 40px;
  height: 40px;
  font-size: 20px;
  /*color: white;*/
  line-height: 40px;
  text-align: center;
  background: red;
  color: white;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0);
}

/*.round-btn-edit:hover {
  -webkit-box-shadow: 0 0 0 10px rgba(0,0,0, 0.2), 0 0 0 20px rgba(0,0,0, 0.12);
  box-shadow: 0 0 0 10px rgba(0,0,0, 0.2), 0 0 0 20px rgba(0,0,0, 0.12);
}*/


.round-btn {
  position: absolute;
  bottom: 20px;
  right: 20px !important;
  width: 45px;
  height: 45px;
  font-size: 22px;
  /*color: white;*/
  line-height: 45px;
  text-align: center;
  background: #71cbcd;
  color: white;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0);
}

.round-btn:hover {
  -webkit-box-shadow: 0 0 0 10px rgba(0,0,0, 0.2), 0 0 0 20px rgba(0,0,0, 0.12);
  box-shadow: 0 0 0 10px rgba(0,0,0, 0.2), 0 0 0 20px rgba(0,0,0, 0.12);
}

.nine {
  font-family: 'Lato', sans-serif;
  /*text-align: center;*/
  /*padding-top: 60px;*/
}
/*.nine h2 {
  font-size: 10px;
  margin-bottom: 0px;
  font-weight: 100;
}*/
.nine p {
  font-size: 15px;
  display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
.transition {
  transition: .3s cubic-bezier(.3, 0, 0, 1.3)
}
.three .transition {
  transition: .7s cubic-bezier(.3, 0, 0, 1.3)
}
.five .transition {
  transition: .5s cubic-bezier(.3, 0, 0, 1.3)
}

.nine {
  /*padding-top: 60px;*/
  list-style: none;
  padding: 0;
  margin: 100px -30px;
}
.nine > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 400px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  /*cursor: pointer;*/
  overflow: hidden;
}
.nine .wrapper {
  position: relative;
  height: 100%;
}
.nine .social {
  list-style: none;
  text-align: center;
  /*position: absolute;*/
  /*bottom: -100px;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*text-align: center;*/
  /*width: 100%;*/
  opacity: 0;
}


.nine .social li img:hover {
  opacity: 0.5;
}
.nine > li:hover .social {
  bottom: 130px;
  opacity: 1;
}
.nine span {
  background: #78CACE;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 500px;
  width: 500px;
  display: block;
  position: absolute;
  bottom: 240px;
  left: -125px;
}
.nine > li:hover span {
  bottom: 300px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.nine span img {
  position: absolute;
  bottom: 50px;
  left: 210px;
  width: 84px;
  height: 84px;
  border-radius: 100%;
}
.nine > li:hover span img {
  bottom: -20px;
}
.nine h3 {
  position: absolute;
  top: 160px;
  font-family: 'Dosis', sans-serif;
  color: #78CACE;
  /*text-transform: uppercase;*/
  font-size: 27px;
  width: 100%;

display: block;
/*font-size: 1.17em;*/
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.nine h3 em {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  font-size: 11px;
  padding:10px;
  font-style: normal;
  display: block;
  margin-top: 2px;
  opacity: 0.8;
}
.nine > li:hover h3 {
  top: 100px;
}
.nine .trigger {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.nine .trigger i {
  width: 45px;
  height: 45px;
 background:;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  display: block;
  background: #FFE08E;
  font-style: normal;
  font-size: 26px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin: 0 auto;
}
.nine > li:hover .trigger i {
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 18px;
}
 @-webkit-keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
 @-moz-keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
 @keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}



/*END public Stories*/


.circle-button {
	background-color: black;
  z-index: +1;
	width: 60px;
	height: 60px;
	position: fixed;
	right: 3rem;
	bottom: 4rem;
	border-radius: 50%;
	color: #fff;
	font-size: 42px;
	line-height: 65px;
	text-align: center;
	transition: 300ms ease;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.circle-button:hover{
	-webkit-transform: scale3d(1.15, 1.15, 1);
	transform: scale3d(1.15, 1.15, 1);
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


#content {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0;
  /*background-color: #FFF;*/
  /*background-image: url('sws.png');*/
  /*position: fixed;*/
  background-repeat:no-repeat;
  background-position:center 690px;
  background-size: 135px;
}

#footer {

  width: 100%;
  height: 100px;
  background-color: #f78387;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  /*z-index: -1;*/
}



.bars {
     /*background-color:pink;*/
  position: absolute;
  width: 27px;
  height: 27px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  z-index: 101;
  padding-top:9px;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
}

.bar::before,
.bar::after {
  content: "";
  display: block;
  background-color: #000;
  width: 100%;
  height: 4px;
  position: absolute;
}

.bar::before {
  transform: translateY(-9px);
}

.bar::after {
  transform: translateY(9px);
}

.bars.active .bar {
  background-color: transparent;
}

.bars.active span::before {
  animation: top-bar 1s;
  animation-fill-mode: forwards;
}

.bars.active span::after {
  animation: bottom-bar 1s;
  animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 1s;
  z-index: -1;
  overflow: hidden;
  opacity: 0;
}

#nav a {
  color: #fff;
  text-decoration: none;
  line-height: 70vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-indent: 50vw;
  border-radius: 50%;
  transition: all .5s;
}

#nav a:hover {
  background: #4683a7;
}

ul {
  list-style: none;
}

.visible {
  z-index: 100 !important;
  opacity: 1 !important;
}

.shape-circle {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  top: -10vw;
  right: -10vw;
  position: absolute;
  transition: all 1s ease-in-out;
  background: #2a5f85;
  box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
  width: 200vw;
  height: 200vw;
  top: -100vw;
  right: -100vw;
  z-index: 5;
  transition: all .5s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
  width: 150vw;
  height: 150vw;
  top: -75vw;
  right: -75vw;
  z-index: 6;
  transition: all .6s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3){
  width: 100vw;
  height: 100vw;
  top: -50vw;
  right: -50vw;
  z-index: 7;
  transition: all .7s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child{
  width: 50vw;
  height: 50vw;
  top: -25vw;
  right: -25vw;
  z-index: 8;
  transition: all .8s ease-in-out;
  box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
  line-height: 265vw !important;
    text-indent: 15vw !important;

}

nav.visible li:nth-child(2) a {
  line-height: 200vw !important;
  text-indent:17vw !important;
}

nav.visible li:nth-child(3) a {
  line-height: 137vw !important;
    text-indent: 17vw !important;

}

nav.visible li:last-child a {
  line-height: 70vw !important;
  text-indent:12vw !important;
}


/* Main Body CSS */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*text-align: center;*/
}

article h1 {
  color: #222;
  font-weight: 700;
  font-size: 4em;
  /*margin: 1em 0 0.125em;*/

  /*font-size: 60px;*/
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /*text-transform: uppercase;*/
  /*font-size: 120px;*/
  letter-spacing:3px;
  padding-top:40px;
}

article p {
  padding-bottom: 15px;
  /*text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

article a {
  color: #000;
  text-decoration: none;
  opacity: .2;
  font-size: 12px;
}

article a:hover {
  opacity: .8;
}

@keyframes top-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes bottom-bar {
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}


@media screen and (max-width:800px) {

  h1 {
    padding-top:80px;
    font-size: 60px;
  }

}
